@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  color: inherit;
}
.container {
  display: grid;
  grid-template-columns: 260px auto; /* sidebar = w260px header&content wrest space */
  grid-template-rows: max-content 1fr; /* sidebar = hcontent header&content = fitcontent  */
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}
.sidebar-container {
  grid-area: sidebar;
  background-color: green;
  width: 260px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
  font-weight: 500;
}

.dashboard-title {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

.dashboard-title i {
  font-size: 30px;
}

ul {
  list-style: none;
  padding: 0 25px;
  font-size: 17px;
}

ul li {
  margin: 5px 0;
  padding: 5px 0;
}

ul li a {
  text-decoration: none;
  word-spacing: 12px;
}

header {
  position: relative;
  grid-area: header;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.top-header {
  padding: 12px 135px 15px 60px;
  display: grid;
  grid-template-columns: auto max-content max-content;
  gap: 35px;
  align-items: center;
}
.search {
  display: flex;
  gap: 25px;
  align-items: center;
}

.search input {
  padding: 8px 15px;
  width: 87%;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: rgb(237, 237, 237);
}
.search i {
  font-size: 19px;
}

.notification i {
  font-size: 22px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 5px 0;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-name {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 90px 15px 50px;
}

.profile-bottom-header img {
  width: 90px;
  height: 90px;
}
.profile-info h4 {
  line-height: 1.7rem;
  font-size: 17px;
}
.profile-info h1 {
  font-size: 30px;
}

.button-container {
  display: flex;
  gap: 30px;
}
.button-container li button {
  border-radius: 20px;
  width: 100px;
  height: 40px;
  background-color: green;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border: none;
}
main {
  grid-area: content;
  background-color: #ddd;
  display: flex;
  padding-bottom: 50px;
}

main > div > h3 {
  margin: 30px 30px 0;
}
main > div > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 25px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  padding: 30px;
  max-width: 395px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-left: 7px solid orange;
  background-color: white;
}

.project-card-info p {
  font-size: 15px;
  color: grey;
  margin-top: 5px;
}

.project-card-icons {
  display: flex;
  align-self: flex-end;
  gap: 30px;
}

.content-right-section {
  max-width: 355px;
}

.content-right-section h3,
.content-right-section ul {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.content-right-section ul {
  background-color: white;
  padding: 18px 23px;
  margin-right: 30px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.content-right-section ul.announcements li {
  margin: 7px 0;
  padding: 0;
}

.content-right-section ul h4 {
  font-size: 16px;
}

.content-right-section ul p {
  font-size: 12px;
  color: grey;
}

.content-right-section ul.announcements li:nth-child(1),
.content-right-section ul.announcements li:nth-child(2) {
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}

.content-right-section .trending-profile {
  display: flex;
  align-items: center;
  margin: 9px 0;
  padding: 0;
}
.trending-images {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.trending-info {
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.trending-info span:last-child {
  font-size: 14px;
  color: grey;
}

